table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.longBox {
	width: 300px
	}

.mediumBox {
	width: 110px
	}

.smallBox {
	width: 80px
}

.verySmallBox {
	width: 50px
	}

.inlineDiv {
	display: inline-block;
	}

.hidden {
		display: none;
	}

.hoverImg a { position:relative; }
.hoverImg a span { position:absolute; display:none; z-index:99; }
.hoverImg a:hover span {
	top: -300px;
	left: 400px;
	display:block;
	}

img.sidebar {
	width: 200px;
	margin-right:5px
	}

img.muni {
	width: 315px;
	margin-right:5px
	}

img.smallLight {
	height: 80px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	}

img.Map {
	width: 200px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	}
