/* Body */
body {
	color: #000000;
}

/* Tables */

table, th, td {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}


/* Forms Input */

.fullWidth {
	width: 100%;
}

.longBox {
	width: 300px;
}

.mediumBox {
	width: 110px;
}

.smallBox {
	width: 80px;
}

.verySmallBox {
	width: 50px;
}


/* Div */

.muniPageSidebar {
	float:right;
	width:40%;
}

.profile {
	float:left;
	width:50%;
}

.subPara {
	position:relative;
	left: 20px;
}

.inline {
	display: inline-block;
}

.login {
	position: fixed;
	top: 0%;
	right: 0%;
	z-index: 10000;
}

.today {
	text-align: center;
	font-size: 17px;
	font-weight: 200;
	margin: 0;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}


.hoverImg a { position:relative; }
.hoverImg a img { position:absolute; display:none; z-index:99; }
.hoverImg a:hover img {
	top: -260px;
	left: 200px;
	display:block;
}


/* Images */

img.floatRight {
	float: right;
	margin: 10px 10px 5px 20px;
}

img.floatLeft {
	float: left;
	margin: 0px 30px 30px 0px;
}

img.sidebar {
	width: 200px;
	margin-right:5px;
}

img.muni {
	width: 315px;
	margin-right:5px;
}

img.smallLight {
	height: 250px;
	opacity: 0.6;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

img.Map {
	width: 200px;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}


/* Br Tag */

br.clear {
	clear: both;
}


/* Lists */

ol {
	padding-left: 20px;
}

/* Links */
a.button {
	display: block;
	background: #555;
	padding: 10px;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

a.button:hover {
	background: #3bc400;
	color: #111111;
}
