/* Global properties ======================================================== */
body { 
	font-family: Arial,Sans-Serif;
	font-size: 13px; 
	line-height:22px;
	position: relative;
}
html, body { height:100%;}

@font-face {
    font-family: 'GnuolaneFree';
    src: url('fonts/gnuolane-webfont.eot');
    src: url('fonts/gnuolane-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gnuolane-webfont.woff') format('woff'),
         url('fonts/gnuolane-webfont.ttf') format('truetype'),
         url('fonts/gnuolane-webfont.svg#GnuolaneFree') format('svg');
    font-weight: normal;
    font-style: normal;

}

#editcloc
{
display:none;
z-index:-1000;
padding:25px;
position:absolute;
top:40%;
font-size:175%;
font-weight:1900;
left:30%;
}
a {
	outline:medium none;
	text-decoration:none;
}


a, .blog-title a, .blog-meta a, .blog-thumb a, .main-nav li a, .nivoSlider, .portfolio-thumb a, ul#thumb-list li, .gallery-thumb a, .widget-img a, .post-navigation .prev-l, .post-navigation .next-l, .post-navigation .totop, button, input.submit, input[type="submit"], input[type="reset"], input[type="button"] {
	-moz-transition: background-color 0.2s linear, color 0.2s linear;
	-o-transition: background-color 0.2s linear, color 0.2s linear;
	-ms-transition: background-color 0.2s linear, color 0.2s linear;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'GnuolaneFree', sans-serif;
	font-weight: 400;
	margin-bottom: 15px;
}

.page-title h1, .blog-title, .sidebar h3, .filter  {
	font-family: 'GnuolaneFree', sans-serif;
}

.sidebar  h3 {
	margin-bottom: 15px;
}


h1{
	font-size:35px;
}

h2 {
	font-size:27px;
}

h3  {
	font-size:21px;
}

h4 {
	font-size:17px;
}

h5 {
	font-size:15px;
}

h6 {
	font-size:13px;
}

abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted #232323;
    cursor: help;
}

p {
	padding-bottom: 20px;
	line-height:22px;
}

/* Global Structure ============================================================= */

.menu-wrapper {
    margin-left: 50px;
    position: relative;
    top: 3%;
    z-index: 1000;
}

.page-template-template-homepage-php .menu-wrapper {
    position: fixed;
	top: 35%;
	margin-left: 50px;
	z-index: 1000;
}

.main-nav li {
	display:inline-block;
	float: left;
	position: relative;
}

.menu-wrapper .logo img {
    -moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 
    display: block;
    padding: 10px;
}

.main-nav {
    display: block;
    position: relative;
    top: -6px;
}

.main-nav li a {
    display: block;
    line-height: 30px;
    padding: 5px 10px 2px 10px;
	font-size: 22px;
	font-family: 'GnuolaneFree', sans-serif;
	text-transform: uppercase;
}

.container, .content {
    left: -850px;
    margin-bottom: 68px;
    margin-top: 85px;
    overflow: hidden;
    padding: 25px;
    position: relative;
    width: 800px;
}

.inner-content {
	width: 550px;
	float:left;
}

.block div {
    background: none repeat scroll 0 0 #000000;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 10;
}

.top-wrapper {
	position:relative;
}

.over-more {
    bottom: 0;
    display: block;
    font-size: 11px;
    padding: 2px 7px;
    position: absolute;
    right: -100px;
}

.over-more-title {
    top: 0;
    display: block;
    font-size: 11px;
    padding: 2px 7px;
    position: absolute;
    left: -300px;
}

.sidebar {
	width: 210px;
	display: block;
	font-size:12px;
	float: right;
	position: relative;
}

#right {
	float: right;
}

#left {
	float: left;
}

.sidebar .logo a {
	background:none!important;
}

.portfolio-entry, .blog-entry {
	overflow: hidden;
}

.logo a {
	display:inline-block;
	margin:0;
	padding:0;
}

.logo {
	position: relative;
	overflow: hidden;
}

.top-logo {
	float: left;
}


.main-nav .sub-menu {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 1000;
	width: 800px;
}

.main-nav .sub-menu li a {
	font-size: 13px;
}

.main-nav .sub-menu li {
    font-weight: normal;
    margin: 0;
    position: relative;
}

.main-nav .sub-menu li:last-child {
	border-bottom: none;
}

.sidebar .twitter-widget li {
    padding: 8px 0 8px 22px;
	background: url('../images/twitter.png') no-repeat left 11px transparent;
}

.twitter-widget ul li span a {
	border-bottom: 1px dotted #676767;
}

.twitter-widget ul li > a {
	display:inline-block;
	line-height: 18px;
	padding:0;
	margin:0;
}

.flickr_badge_image, .widget-img {
	float:left; 
	margin: 10px 10px 0 0;
}

.flickr_badge_image img {
	width: 50px;
	height:50px;
}

.flickr_badge_image a, .widget-img a {
	display:block;
	padding:0;
	margin:0;
	height: 50px;
	width: 50px;
}

.sidebar .widget {
	margin-bottom: 40px;
}

.widget ul li {
    padding: 4px 0 4px 12px;
	background: url('../images/menu-arr.gif') no-repeat left 11px transparent;
	
}

.bottom10 {
	padding-bottom:10px;
}

.slider-wrapper {
	margin-bottom: 30px;
	position:relative;
}

.related {
	position:relative;
	margin-bottom:50px;
	overflow:hidden;
	line-height: 2em;
	width: 565px
}

.meta {
	font-size: 11px;
	padding: 0 10px;
}

.divider, hr {
	background: url("../images/divider.gif") repeat-x scroll 0 0 transparent;
	height: 4px;
	margin-bottom: 30px;
	border: none;
}

.inner-content .divider {
	margin-bottom: 50px;
	height: 2px;
}

.mbottom10 {
	margin-bottom: 10px;
}

.sub-footer {
	font-size:11px;
	padding: 10px 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.copyright {
	float:left;
}

.footer-menu {
	float:right;
	width: 50%;
}

.footer-menu ul li {
	float: left;
	margin-left: 10px;
}

.footer-menu ul {
	float: right;
}

.sub-menu {
	margin-left: 12px;
	display: none;
}

.preloader { 
	background:url(../images/loader.gif) center center no-repeat #111!important;
}

.page-title {
	padding: 0 0 20px;
}

.page-title h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
	margin: 0;
}

.single .page-title h1 {
    font-size: 50px;
}

.blog-thumb {
	margin: 0 0 20px;
	position: relative;
	overflow:hidden;
}

.hasheight {
	height: 173px!important;
}

.format-standard .blog-thumb img, .format-image .blog-thumb img, .portfolio-thumb img, .gallery-thumb img {
	display: block;
}

.blog-meta {
    font-size: 11px;
    margin-bottom: 15px;
    position: relative;
}

.format-image .blog-entry img {
	width: 460px;
	height: auto;
}

.data {
	position:relative;
	line-height: 22px;
	overflow: hidden;
	margin-bottom: 30px;
}

.blog-content, .single-post .blog-content {
	position: relative;
	font-size: 13px;
	overflow: hidden;
	float:left;
}

.portfolio-content {
	position: relative;
	font-size: 13px;
	overflow: hidden;
}

.blog-content .blog-title {
	font-size: 27px;
	line-height: 37px;
	font-weight: 400;
	margin: 0;
}

.blog-title a {
	border: none;
}

.quote-text {
	font-size: 27px;
	line-height: 37px;
	margin-bottom: 20px;
}

.quote-source {
    position: relative;
    top: -15px;
}

.filter {
	overflow: hidden;
	margin-bottom: 10px;
}

.filter ul li {
	float: left;
}

.portfolio-wrapper, .gallery-magic, .gallery-wrapper {
	position: relative;
	width: 825px;
	overflow:hidden;
}

.portfolio-wrapper ul li, .gallery-wrapper #three-col li {
	float:left;
	margin: 0 15px 15px 0;
	text-align: center;
	width:256px;
	padding: 0;
}

.related ul li {
	float:left;
	margin: 0 15px 15px 0;
	text-align: center;
	width:173px;
	padding: 0;
}

.gallery-wrapper #two-col li {
	float:left;
	margin: 0 15px 15px 0;
	text-align: center;
	width:392px;
	padding: 0;
}

.gallery-wrapper #multi li {
	float:left;
	margin: 0 10px 10px 0;
	text-align: center;
	width:125px;
	padding: 0;
}

.gallery-magic ul li {
	float:left;
	margin: 0 15px 15px 0;
	text-align: center;
	width:188px;
	padding: 0;
}

.portfolio-thumb, .gallery-thumb {
	margin: 0;
	position: relative;
	height: auto;
	overflow: hidden;
}

.isotope-container {
	float: left;
}

input,select, textarea {
    background: #F6F6F6;
    border: 1px solid #f0f0f0;
    color: #888;
    padding: 6px 10px;
    width: 230px;
	margin-bottom:15px;
	font-size: 13px;
}

input:focus, textarea:focus {
    background: #ffffff;
    border: 1px solid #d0d0d0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
	color: #555;
}

#respond textarea {
	padding: 10px 10px 10px 10px;
	width: 530px;
	height: 200px;
}

.commentlist {
	margin-bottom:50px;
}

#respond p {
	padding-bottom: 0;
}

#respond h3, #comments h3 {
	margin-bottom: 20px;
}

#comments-wrapper {
    float: left;
    font-size: 13px;
    position: relative;
	width:550px;
}

button, input.submit, input[type=submit], input[type=reset], input[type=button] {
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    line-height: 21px;
    margin: 0;
    text-decoration: none;
    width: auto;
}

button, input.submit {
	padding: 5px 10px;
}

.page-content .sendError {
	margin-bottom: 20px;
	color: red;
	list-style: none;
	margin-left: 0;
}

.sendError p {
	color: red;
}

.contactForm label{
	display: block;
}

.contactForm textarea{
	width: 97%;
	height: 180px;
}

.avatar {
    float: left;
    margin: 5px 10px 10px 0;
    position: relative;
}

.comment-info {
	font-size:12px;
	margin-bottom:15px;
}

.comment-text {
	font-size:13px;
}

.comment {
	margin-bottom: 20px;
	border-bottom: 1px dotted #656565;
}

#comments-wrapper .children {
    margin-left: 50px;
}

.pagination {
	clear:both;
	position:relative;
	font-size:12px;
	line-height:22px;
}

.pagination span, .pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:2px 10px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
	border: none;
}

.pagination .current{
	padding:2px 10px;
}

.post-navigation {
    bottom: -90px;
    display: block;
    left: 910px;
    position: fixed;
}

.post-navigation a {
	display: block;
	width: 30px;
	height: 30px;
}

.post-navigation .next-l, .post-navigation .all-l, .post-navigation .prev-l {
    display: block;
    height: 30px;
    margin-left: 0;
    width: 30px;
}

.post-navigation .totop {
    display: block;
    height: 30px;
    margin-left: 0;
    width: 30px;
	cursor: pointer;
}

.post-navigation .totop {
    background: url("../images/slider/arrow_up.gif") no-repeat scroll center center #111;
}

.post-navigation .prev-l {
    background: url("../images/slider/arrow_left.gif") no-repeat scroll center center #111;
}

.post-navigation .next-l {
    background: url("../images/slider/arrow_right.gif") no-repeat scroll center center #111;
}

.post-navigation .all-l {
    background: url("../images/slider/all.gif") no-repeat scroll center center #111;
}

.single-post .portfolio-nav .all-l {
    background: url("../images/slider/all_b.gif") no-repeat scroll center center #555;
}

.portfolio-nav a {
	display: block;
	height: 25px;
    width: 25px;
}

.portfolio-nav .all-l a  {
    width: 26px;
}

.archives ul{
	margin-left: 25px;
}

.archives ul li{
	list-style-type: disc;
}

#fullbg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.blog-content .slider-wrapper {
	margin-bottom: 23px;
}

.bg-overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	
	z-index:-8;
}

#player_wrapper {
	width:100%!important;
	height:100%!important;
}

.video-bg {
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -9;
}

.filter a {
	font-size: 15px;
	padding: 2px 8px 0;
	text-transform: uppercase;
	line-height: 22px;
	display: block;
}

.space {
	height: 1px;
}

.slider-thumb-tray {
    bottom: -100px;
    display: block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1 !important;
}

#searchform .screen-reader-text, #searchform #searchsubmit{
	display: none;
}

#searchform #s {
	width: 190px;
}
	
.bt {
	background: url("../images/music_on.png") no-repeat scroll center center transparent;
	width: 22px;
	height: 22px;
}

.social {
	float: right;
	position: fixed;
	top: 3%;
	right: 50px;
	z-index: 1001;
}

.admin-bar .social {
	position: absolute;
}

.social a, .bt  {
	float: left;
	display: block;
	margin-left: 3px;
}

.tipsy { margin-bottom:10px;padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 9px 12px 8px 12px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }


/* Pour some CSS below ========================================================= */
