/* Colors ============================================================= */

body { 
	color: #333;	
	background-color: #ccc;
}

a {
	color:#111;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

.main-nav li a {
    background: #fff;
	color: #222;
}

.main-nav ul li a:hover, .main-nav .sub-menu li a:hover, .filter a:hover, ul#thumb-list li:hover, ul#thumb-list li.current-thumb, .pagination .current, button:hover, input.submit:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .pagination a:hover, .filter .active {
	background: #3bc400;
	color: #111111;
}

.blog-title a:hover, .blog-meta a:hover, .format-standard .blog-thumb a:hover, .format-image .blog-thumb a:hover, .flickr_badge_image a:hover, .portfolio-thumb a:hover, .gallery-thumb a:hover, .widget-img a:hover , .sub-footer a:hover, a:hover, .main-nav .current-menu-item  > a, .current-menu-item, .nivoSlider:hover, .main-nav .current-menu-parent > a{
	color: #3bc400;
}

.post-navigation .totop:hover {
	background: url("../images/slider/arrow_up_d.gif") no-repeat scroll center center #3bc400;
}

.nivo-prevNav:hover, .post-navigation .prev-l:hover {
	background: url("../images/slider/arrow_left_d.gif") no-repeat scroll center center #3bc400;
}

.nivo-nextNav:hover, .post-navigation .next-l:hover {
	background: url("../images/slider/arrow_right_d.gif") no-repeat scroll center center #3bc400;
}

.container, .content {
    background: url('../images/white-bg.png');
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); 
}

.sub-footer, #wap-wap {
	background: url('../images/white-bg.png');
	color: #444444;
}

blockquote {
    color: #333;
}

.sub-footer a {
	color: #777777;
}

.blog-meta {
	color: #666;
}

.blog-meta a {
	color: #111111;
}

.format-standard .blog-thumb a, .format-image .blog-thumb a, .flickr_badge_image a, .nivoSlider, .portfolio-thumb a, .gallery-thumb a {
	border: 4px solid;
	display: block;
	color: #232323;
}

.flickr_badge_image a, .widget-img a {
	border: 3px solid;
	display: block;
	color: #232323;
}

.menu-wrapper .logo img {
	background: #3bc400;
}

#progress-bar, .over-more, .over-more-title {
	background: #3bc400;
	color: #111111;
}

#supersized li {
    background: none repeat scroll 0 0 #CDCDCD;
}

 button, input.submit, input[type="submit"], input[type="reset"], input[type="button"] {
	background: #555;
	color: #fff;
}

.widget ul li {
    padding: 4px 0 4px 12px;
	border-top: 1px dotted #bbbbbb;
	background: url('../images/menu-arr.gif') no-repeat left 11px transparent;
	
}

.widget ul li:last-child {
	border-bottom: 1px dotted #bbbbbb;
}

::selection {
	background: #3bc400;
	color: #000000;
}
::-moz-selection {
	background: #3bc400;
	color: #000000;
}

#thumb-back {
    background: url("../images/slider/arrow_left_d.gif") no-repeat scroll center center transparent;
    left: 0;
}
#thumb-forward {
    background: url("../images/slider/arrow_right_d.gif") no-repeat scroll center center transparent;
    right: 0;
}
