/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.4
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* { margin:0; padding:0; }
body { background:#111; height:100%; }
	img { border:none; }
	
#supersized-loader {
    background: url("../images/bg_preloader.gif") no-repeat scroll center center transparent;
    bottom: 55px;
    height: 12px;
    left: 15px;
    position: fixed;
    text-indent: -999em;
    width: 80px;
    z-index: -9;
}
	
	#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999!important; height:100%; width:100%;opacity:0; }
		#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
			#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
			#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
		
		#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
		#supersized a { width:100%; height:100%; display:block; }
			#supersized li.prevslide { z-index:-20; }
			#supersized li.activeslide { z-index:-10; }
			#supersized li.image-loading { background:#111 url(../images/bg_preloader.gif) no-repeat center center; width:100%; height:100%; }
				#supersized li.image-loading img{ visibility:hidden; }
			#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }
			
			.superflickr a { z-index:-30!important; position:absolute; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111;}
			.superflickr a.prevslide { z-index:-20!important; }
			.superflickr a.activeslide { z-index:-10!important; }
			.superflickr a.prevslide img, #supersized a.activeslide img{ display:inline; }
			
	.slideshow_c {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    width: 99%;
    z-index: 1000;
}
			
	/* Controls Bar
	----------------------------*/
	#controls-wrapper { margin:0 auto; height:42px; width:100%; bottom:0px; left:0; z-index:4; background:url(../i/slideshow/nav-bg.png) repeat-x; position:fixed; }
		#controls { overflow:hidden; height:100%; position:relative; text-align:left; z-index:5; }
			#slidecounter { float:left; color:#999; font:14px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow:#000 0 -1px 0; margin:0px 10px 0 15px; line-height:42px; }
			.page-template-template-homepage-php #slidecaption {
				display: block;
			}
			#slidecaption {
				bottom: 100px;
				color: #fff;
				font-family: 'GnuolaneFree',sans-serif;
				font-size: 30px;
				line-height: 70px;
				overflow: hidden;
				position: fixed;
				display: none;
				right:50px;
				text-shadow: 1px 1px 2px #000000;
				width:600px;
				word-wrap: normal;    
				margin-left: auto;
    			margin-right: auto;
}
			
			#navigation { float:right; margin:0px 20px 0 0; }
				#play-button{ float:left; margin-top:1px;border-right:1px solid #333; background:url('../i/slideshow/bg-hover.png') repeat-x 0 44px; }
					#play-button:hover{ background-position:0 1px; cursor:pointer; }
				
				#prevslide, #nextslide{ position:fixed; height:43px; width:43px; top:50%; margin-top:-21px; opacity:0; }
					#prevslide{ left:10px; background:url('../i/slideshow/back.png');z-index:1000; }
					#nextslide{ right:10px; background:url('../i/slideshow/forward.png');z-index:1000; }
						#prevslide:active, #nextslide:active{ margin-top:-19px; }
						#prevslide:hover, #nextslide:hover{ cursor:pointer; }
				
				ul#slide-list{ padding:15px 0; float:left; position:absolute; left:50%; }
					ul#slide-list li{ list-style:none; width:12px; height:12px; float:left; margin:0 5px 0 0; }
						ul#slide-list li.current-slide a, ul#slide-list li.current-slide a:hover{ background-position:0 0px; }
						ul#slide-list li a{ display:block; width:12px; height:12px; background:url('../i/slideshow/nav-dot.png') no-repeat 0 -24px; }
							ul#slide-list li a:hover{ background-position:0 -12px; cursor:pointer; }
				
				#tray-button{ float:right; margin-top:1px; border-left:1px solid #333; background:url('../i/slideshow/bg-hover.png') repeat-x 0 44px; }
					#tray-button:hover{ background-position:0 1px; cursor:pointer; }
		
	
	/* Progress Bar
	----------------------------*/					
	#progress-back {
		display: block !important;
		height: 2px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: -2px;
		width: 100%;
		z-index: 5;
	}
		#progress-bar{ position:relative; height:2px; width:100%;}
	
	

	/* Thumbnail Tray
	----------------------------*/			
	#wap-wap{     
		display: block;
		height: 48px;
		left: 0;
		list-style: none outside none;
		margin: 0 auto;
		max-width: 554px !important;
		overflow: hidden;
		padding: 10px 30px;
		position: relative;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-radius: 5px 5px 0px 0px;
		border-radius: 5px 5px 0px 0px; 
	}
	
	#thumb-tray {
    left: 0;
    overflow: hidden;
    width: 544px;
    z-index: 3;
}
		
		#thumb-back, #thumb-forward{ position:absolute; z-index:5; bottom:0px;top:0; height:68px; width:35px; }
			#thumb-back{ left:0; background: url('../images/slider/arrow_left.gif') no-repeat center center;}
			#thumb-forward{ right:0; background:url('../images/slider/arrow_right.gif') no-repeat center center;}
				#thumb-back:hover, #thumb-forward:hover{ cursor:pointer; background-color:rgba(256,256,256, 0.1); }
					#thumb-back:hover{ border-right:1px solid rgba(256,256,256, 0.2); }
					#thumb-forward:hover{ border-left:1px solid rgba(256,256,256, 0.2); }
		
		
		ul#thumb-list {
			display: inline-block;
			left: 0;
			list-style: none outside none;
			padding: 0 0;
			position: relative;
		}
			ul#thumb-list li{ list-style:none; display:inline; width:52px; height:42px; overflow:hidden; float:left; margin:0 5px;padding: 3px; }
				ul#thumb-list li img {display:block;visibility:hidden;}
				ul#thumb-list li.current-thumb img, ul#thumb-list li:hover img{  }
				ul#thumb-list li:hover{ cursor:pointer; }
